<form action="/addcategorias" method="POST">
    <div class="card">
        <div class="card-body">
                <div class="mb-3">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome da categoria">
            </div>
            <div class="mb-3">
                <label for="slug">Slug: </label>
                <input type="text" name="slug" id="slug" class="form-control" placeholder="Slug da categoria">
            </div>
            <button type="button" class="btn btn-primary">Criar categoria</button>
        </div>
    </div>
</form>